body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.widget-head {
    position: fixed;
    top: 0;
    margin: 10px 0 0 10px;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
}

.widget-head > .widget-head-query {}

.widget-head > .widget-head-btn {}
